.home p {
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}
.posts {
  position: relative;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 .6rem .5rem -.5rem rgba(0,0,0,.8);
}
.posts:before {
  content: "";
  position: absolute;
  height: 1.73rem;
  width: 3rem;
  right: 0;
  top: 0;
  background: linear-gradient(-150deg, white 1.5rem, transparent 0);
}
.posts::after {
  content: "";
  position: absolute;
  height: 1.73rem;
  width: 3rem;
  right: 0;
  top: 0;
  border-top-right-radius: .5rem;
  background: linear-gradient(-150deg, rgba(0,0,0,.4) 0, rgba(0,0,0,.2) 1.5rem, transparent 0);
  transform: rotateY(180deg) rotateZ(120deg);
}
.home a {
  display: block;
  padding: .5rem;
  text-decoration: none;
  color: inherit;
  text-shadow: 0 1px 1px rgba(255,255,255,.6);
  box-shadow: 0 0 10rem transparent inset;
  transition: .5s color, .5s text-shadow, .5s box-shadow;
}
.home a:hover, .home a:focus {
  color: rgba(255,255,255,1);
  text-shadow: 0 -1px 1px black;
  box-shadow: 0 0 10rem rgba(0,0,0,.4) inset;
}
.home a:nth-of-type(1) {
  background: rgba(29,161,242,1);
}
.home a:nth-of-type(2) {
  background: rgba(29,171,242,1);
}
.home a:nth-of-type(3) {
  background: rgba(29,181,242,1);
}
.home a:nth-of-type(4) {
  background: rgba(29,191,242,1);
}
.home a:nth-of-type(5) {
  background: rgba(29,201,242,1);
}
.posts h2 {
  font-weight: normal;
  text-align: center;
  padding: 0 2rem;
}
/* Animation pause, not wark at Safari *************************
****************************************************************
.home a {
  display: block;
  padding: .5rem;
  text-decoration: none;
  color: inherit;
  text-shadow: 0 1px 1px rgba(255,255,255,.6);
  box-shadow: 0 0 10rem transparent inset;
  transition: .5s color, .5s text-shadow, .5s box-shadow;
  animation: color 10s both linear;
  animation-play-state: paused;
}
@keyframes color {
  from {
    background: rgba(29,161,242,1);
  }
  to {
    background: rgba(29,221,242,1);
  }
}
.home a:nth-of-type(1) {
  animation-delay: 0;
}
.home a:nth-of-type(2) {
  animation-delay: -2s;
}
.home a:nth-of-type(3) {
  animation-delay: -4s;
}
.home a:nth-of-type(4) {
  animation-delay: -6s;
}
.home a:nth-of-type(5) {
  animation-delay: -8s;
}
.home a:nth-of-type(6) {
  animation-delay: -10s;
}
*/
