header {
  width: 100%;
  margin: 1rem auto;
  padding: 0 0 1rem 0;
  overflow: hidden;
}
.name {
  font-size: 0;
}
.me {
  display: block;
  position: relative;
  height: 9rem;
  width: 9rem;
  margin: 0 auto;
  background: #ddaa99;
  border-radius: 50%;
  box-shadow: 0 .4rem .5rem -.3rem black;
}
.me:before, .me:after {
  content: "";
  position: absolute;
  margin: 2rem auto;
  height: 5rem;
  width: 100rem;
  top: 0;
}
.me:before {
  right: 10rem;
  background: #edcc60;
  background: linear-gradient(-45deg, white 1.1rem, transparent 0), linear-gradient(-135deg, white 1.1rem, transparent 0), linear-gradient(to top, rgba(0,0,0,.2), transparent), #edcc60;
  box-shadow: -1.3rem .6rem .5rem -.5rem rgba(0,0,0,.8);
}
.me::after {
  left: 10rem;
  background: #edcc60;
  background: linear-gradient(45deg, white 1.1rem, transparent 0), linear-gradient(135deg, white 1.1rem, transparent 0), linear-gradient(to top, rgba(0,0,0,.2), transparent), #edcc60;
  box-shadow: 1.3rem .6rem .5rem -.5rem rgba(0,0,0,.8);
}
.me img {
  display: inline-block;
  margin: .5rem;
  height: 8rem;
  border-radius: 50%;
  transition: .5s -webkit-filter;
  -webkit-filter: sepia(.8) hue-rotate(150deg) blur(1px);
}
.me img:hover {
  -webkit-filter: none;
}
