footer {
  width: 100%;
  padding: 1rem 0;
  background: rgba(29,221,242,1);
}
footer p {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: right;
}
footer a {
  color: rgba(51,51,51,1);
  background: linear-gradient(90deg, gray 66%, transparent 0) repeat-x;
  background-size: .2rem .2rem;
  background-position: 0 1.2rem;
  text-decoration: none;
}
footer a:hover {
  color: gray;
}
